<h1>dahoam</h1>
<nav>
  <a routerLink="home">home</a> |
  <a routerLink="dash">dash</a> |
  <a routerLink="dash/detail">dash details</a> |
  <a routerLink="contact">contact</a>
</nav>
<router-outlet></router-outlet>
<hr>

<dahoamviernull-countdown></dahoamviernull-countdown>
<p *ngIf="selectedUsr">{{selectedUsr | json}}</p>
<dahoamviernull-user-list
  [userList]="userList"
  (selectedUsr)="selectedUser($event)"
></dahoamviernull-user-list>
<dahoamviernull-dyn-form [formProvider]="dynFormData" title="Anmeldung"
                         (submitData)="sendData($event)"></dahoamviernull-dyn-form>
<button (click)="extend()">extend</button>


